<h2>Cadastro de Pessoa</h2>
<form>
  <div class="mb-3" style="max-width: 500px;">
    <label for="nome" class="form-label">Nome</label>
    <input required type="text" class="form-control" id="nome" placeholder="Digite seu nome">
  </div>
  <div class="mb-3" style="max-width: 500px;">
    <label for="email" class="form-label">Email</label>
    <input required type="email" class="form-control" id="email" placeholder="Digite seu email">
  </div>
  <div class="mb-3" style="max-width: 500px;">
    <label for="telefone" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="telefone" placeholder="Digite seu telefone">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>